.state-summary-label {
position: relative;
margin: 2px 2px 2px 2px;
height: 23px;
width: 213px;
background-color: #c0c0c0;
}

.sc-label-view.state-summary-label {
padding: 5px 5px 5px 5px;
font-family: georgia;
font-size: 28px;
}

.sc-view.raphael-view {
}

.state-summary-help {
      color: #999;
}

.state-summary-help.sc-huge-size {
    font-size: 16px;
}

.state-summary-view {
background-color: #c0c0c0;
}

.state-summary-view-name {
position: absolute;
top: 0px;
left: 0px;
width: 140px;
font-family: georgia;
font-size: 22px;
margin: 5px 5px 5px 15px;
}

.state-summary-view-desc {
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
width: 800px;
border-left: solid 3px black;
position: absolute;
top: 0px;
left: 150px;
font-family: arial;
font-size: 12px;
font-style: italic;
margin: 5px 5px 5px 5px;
}

.state-summary-view-population {
position: absolute;
top: 0px;
bottom: 0px;
right: 0px;
width: 120px;
background-color: #c0c0c0;
}

.state-summary-view-population-value {
padding: 0px;
margin: 0px 0px 5px 0px;
font-family: georgia;
font-size: 22px;
color: white;
text-align: center;
}

.state-summary-view-population-capt {
padding: 0px;
margin: 0px;
font-family: arial;
font-size: 12px;
text-align: center;
color: white;
}

div.custom-list-item-view div.row{
position: absolute;
top: 0px;
left: 0px;
right: 0px;
height: 35px;
border-width: 0px;
}

div.custom-list-item-view div.row.standard {
background-color: #c0c0c0;
}

div.custom-list-item-view p.name {
float: left;
padding: 0px;
margin: 5px 0px 0px 5px;
font-family: Georgia;
font-size: 2em;
font-weight: bold;
line-height: normal;
}

div.custom-list-item-view p.item {
float: left;
padding: 0px;
font-family: Helvetica;
font-size: 1em;
line-height: normal;
}

div.custom-list-item-view div.row.selected {
background-color: #8ecd66;
}

